<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body>

    <header
      class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
      >
        <svg class="bi me-2" width="40" height="32"><use
            xlink:href="#bootstrap"
          ></use></svg>
        <span class="fs-4">Simple header</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a
            href="/"
            class="nav-link active"
            aria-current="page"
          >Home</a></li>

        <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
        <li class="nav-item"><a
            href="/register"
            class="nav-link"
          >Register</a></li>
      </ul>
    </header>

    <div class="modal-content w-75">

      <div class="modal-body p-5">
        <h2 class="fw-bold mb-0">Login Project</h2>

        <ul class="d-grid gap-4 my-5 list-unstyled">
          <li class="d-flex gap-4">
            <svg class="bi text-muted flex-shrink-0" width="48" height="48"><use
                xlink:href="#grid-fill"
              ></use></svg>
            <div>
              <h5 class="mb-0">Grid view</h5>
              Hello My Dears. Welcome!
            </div>
          </li>
          <li class="d-flex gap-4">
            <svg
              class="bi text-warning flex-shrink-0"
              width="48"
              height="48"
            ><use xlink:href="#bookmark-star"></use></svg>
            <div>
              <h5 class="mb-0">Bookmarks</h5>
              Save items you love for easy access later.
            </div>
          </li>
          <li class="d-flex gap-4">
            <svg
              class="bi text-primary flex-shrink-0"
              width="48"
              height="48"
            ><use xlink:href="#film"></use></svg>
            <div>
              <h5 class="mb-0">Video embeds</h5>
              Share videos wherever you go.
            </div>
          </li>
        </ul>
        <button
          type="button"
          class="btn btn-lg btn-primary mt-5"
          data-bs-dismiss="modal"
        >Great, thanks!</button>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>